::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #8b7f7f; 
  }
  ::-webkit-scrollbar-thumb {
    background: rgb(61, 45, 45); 
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }